.intro {
        padding-top: 20px;
        padding-bottom: 20px;
      }
    .carousel-item {
      height: 32rem;
      background: #777;
      color: #fff;
      position: relative;
      }
      .container {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding-bottom: 50px;
      }
      #enjoy {
        padding-top: 20px;
        padding-bottom: 20px;
      }